body {
    font-family: 'brush script MT';
    background-color: #D8BFD8;
    color: white;
    margin: 1.5rem;
    padding: 3rem;
}

.container {
    margin: auto;
    width: 80%;
}

h1 {
    font-size: 30px;
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

h2, h3 {
    font-size: 25px;
    background-color: lightblue;
    color: yellow;
    text-decoration: underline;
    text-decoration-color: rgb(235, 142, 142);
    text-align: center;
    margin-top: 30px;
}

p {
    font-size: 24px;
    line-height: 1.6;
    font-size: larger;
}

 
footer{
    background-color: lightblue;
    text-align:center;
}
